<h1>Artifacts</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Definition</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @artifacts.each do |artifact| %>
  <tr>
    <td><%= artifact.category_id %></td>
    <td><%= artifact.name %></td>
    <td><%= artifact.definition %></td>
    <td><%= link_to 'Show', artifact %></td>
    <td><%= link_to 'Edit', edit_artifact_path(artifact) %></td>
    <td><%= link_to 'Destroy', artifact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Artifact', new_artifact_path %>
