<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @artifact.category_id %>
</p>

<p>
  <b>Name:</b>
  <%= @artifact.name %>
</p>

<p>
  <b>Definition:</b>
  <%= @artifact.definition %>
</p>


<%= link_to 'Edit', edit_artifact_path(@artifact) %> |
<%= link_to 'Back', artifacts_path %>
